<!DOCTYPE html>
<html>
<head>
    <title>Delivery Challan</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            font-family: Arial, sans-serif;
        }
        
        th, td {
            border: 1px solid black;
            padding: 4px;
            text-align: left;
        }
        
        .header {
            text-align: center;
            font-weight: bold;
            background-color: white;
        }
        
        .subheader {
            background-color: #b8cce4;
            text-align: center;
        }
        
        .total-section td {
            border-top: 2px solid black;
        }
    </style>
</head>
<body>
    <table>  
        <tr> 
            <td rowspan="5"><img src="file:///C:/demo/templates/Apollo.PNG" alt="Logo" width="100"></td>
            <td colspan="4" class="header" style="font-size: 20px;"><b>APOLLO PHARMACIES LIMITED</b></td>
        </tr>
        <tr>
            <td colspan="5" class="header" style="font-size: 20px;"><b>APOLLO PHARMACIES LIMITED</b></td>
        </tr>
        <tr>
            <td colspan="5" class="header">Unit: Apollo Pharmacy</td>
        </tr>
        <tr>
            <td colspan="5" class="header">No.13/2,IFB Building,Hosur Road,</td>
        </tr>
        <tr>
            <td colspan="5" class="header">Singasandra,Bangalore-560068</td>
        </tr>
        <tr>
            <td colspan="5" class="header">State/GSTIN:29AAACA5443N2ZD</td>
        </tr>
        <tr>
            <td colspan="5" class="subheader">Delivery Challan</td>
        </tr>
        <tr>
            <td>Bill to Party</td>
            <td colspan="2">Site</td>
            <td colspan="2">{{ Site }}</td>
        </tr>
        <tr>
            <td>         </td>
            <td colspan="2">Site Name</td>
            <td colspan="2">{{ Site_name }}</td>
        </tr>
        <tr>
            <td>
                APOLLO PHARMACIES<br/>
                LIMITED 13/2 IHX<br/>
                BUILDING,SINGASANDRA,HOSUR<br/>
                ROAD,BANGALORE-<br/>
                560068 PHONE<br/>
                NO:8123102102,7624980176
            </td>
            <td colspan="2">
                Address: {{ address }}
            </td>
            <td colspan="2">
                DC No.: {{ dc_no }}<br/>
                DC Date: {{ current_date }}<br/>
                <br/>
                <br/> 
                <br/>
                <br/>  
            </td>
        </tr>
        <tr>
            <td>Contact</td>
            <td colspan="4">Contact No.: {{ contact }}</td>
        </tr>
        <tr>
            <td>GSTIN</td>
            <td colspan="4">29AAACA5443N2ZD</td>
        </tr>
        <tr>
            <td>State:</td>
            <td colspan="4">Karnataka</td>
        </tr>
        <tr>
            <td>Code</td>
            <td colspan="4">29</td>
        </tr>
        <tr>
            <td style="background-color: #b8cce4;">Sl. No.</td>
            <td style="background-color: #b8cce4;">Goods / Service Description</td>
            <td colspan="2" style="background-color: #b8cce4;">Qty</td>
            <td style="background-color: #b8cce4;">Total</td>
        </tr>
        <tr>
            <td>1</td>
            <td>PRINTER</td>
            <td>1 BOX</td>
            <td colspan="1"></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="3"></td>
        </tr>
        <tr class="total-section">
            <td colspan="4">1</td>
            <td>0.00</td>
        </tr>
        <tr>
            <td colspan="4">2</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4">3</td>
            <td></td>
        </tr>
        <tr class="total-section">
            <td colspan="5" class="header" style="background-color: #b8cce4;">Terms & conditions</td>
        </tr>
        <tr class="total-section">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td colspan>Common Seal</td>
            <td colspan="3">Party's Signature</td>
        </tr>
    </table>
</body>
</html>
